---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Samantha Dutra, Psicologia e Neuropsicologia" />
<div class="hero-wrapper">
  <Header />
</div>

<style>
  .hero-wrapper {
    background: var(--background-gradient);
    min-height: 100vh;
  }
</style>
