---
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import MiniCTA from "../components/MiniCTA.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Samantha Dutra, Psicologia e Neuropsicologia" />
<div class="hero-wrapper">
  <Header />
  <HeroSection />
</div>
<div class="about-wrapper">
  <MiniCTA />
</div>

<style lang="scss">
  .hero-wrapper {
    background: var(--background-gradient);
    position: relative;
  }

  .about-wrapper {
    background-color: var(--color-light);
  }
</style>
