---

---

<section>
  <div class="about-her">
    <div class="about-her__image">
      <div>
        <img
          loading="lazy"
          src="/samantha-dutra-about.webp"
          alt="Samantha Dutra"
        />
      </div>
    </div>
    <div class="about-her__content">
      <h2>Sobre mim</h2>
      <h3>
        Sou a psicóloga Samantha Dutra, Especialista em Psicologia e
        Neuropsicologia
      </h3>
      <p>
        Sou a Samantha, Especialista em Psicologia Clínica e Neuropsicologia.
        Encantada pela Psicologia Clínica constituída a partir da Filosofia
        Existencial, comecei a minha atuação como Psicoterapeuta caminhando pela
        Fenomenologia. Posteriormente, iniciei meus estudos na área da
        Neuropsicologia e vi como é possível navegar nessas duas relações de
        trabalho, pois ambas são atos de autoconhecimento. Acredito que cada ser
        humano é a convergência de seus aspectos biológicos, psicológicos e
        sociológicos, e que esses fatores fazem a vida ser tão complexa,
        surpreendente e inesperada.
      </p>
    </div>
  </div>
  <div class="about-continuation">
    <div class="about-continuation__content">
      <h4>
        "Aventurar-se causa ansiedade, mas deixar de arriscar-se é perder a si
        mesmo. E aventurar-se no sentido mais elevado é precisamente tomar
        consciência de si próprio." <strong>Soren Kierkegaard</strong>
      </h4>
      <p>
        Possuo Especialização em Neuropsicologia pelo Hospital Israelita Albert
        Einstein, estudei Psicologia Forense e tenho curso de aprimoramento para
        entrevistadora investigativa forense no ESAJ-TJRJ. Também sou
        Especialista em Psicologia Clínica Fenomenológico-Existencial no Núcleo
        de Clínica Ampliada Fenomenológico Existencial - NUCAFE e possuo
        formação clínica em Psicoterapia Fenomenológico-Existencial pelo
        Instituto de Fenomenologia do Rio de Janeiro - IFEN/RJ.<br />
        Tenho um grande amor à minha profissão e, como tal, trabalho sempre no sentido
        de ajudar o todas as pessoas que chegam até mim, tendo em conta os seus melhores
        interesses e necessidades.
      </p>
    </div>
    <div class="about-continuation__image">
      <div>
        <img
          loading="lazy"
          src="/samantha-dutra-continuation.webp"
          alt="Samantha Dutra"
        />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    max-width: 76.25rem; //1220px
    width: 100%;

    margin: 0 auto;
    padding: 1rem;

    .about-her {
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;

      &__image {
        position: relative;
        width: fit-content;
        margin: 0 auto;

        &::before {
          content: url("/detail-blue.svg");
          position: absolute;
          top: 3rem;
          right: 3rem;
          transform: translate(50%, -50%);
        }

        div {
          position: relative;
          z-index: 2;

          img {
            max-width: 500px;
            width: 100%;
            height: auto;
            z-index: 1;
          }
        }
      }

      &__content {
        h2 {
          font-size: 1.3rem;
          color: var(--accent-orange);
          margin-bottom: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }

        h3 {
          font-size: 2.375rem;
          font-weight: 700;
          color: var(--color-blue);
          margin-bottom: 2rem;
          line-height: 1.25;
          font-family: var(--ff-roboto-slab);
        }

        p {
          color: var(--color-dark);
          margin-bottom: 1rem;
          line-height: 2;
        }
      }
    }

    .about-continuation {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;

      &__image {
        position: relative;
        width: fit-content;
        margin: 0 auto;

        &::before {
          content: url("/detail-orange.svg");
          position: absolute;
          bottom: 3rem;
          left: 3rem;
          transform: translate(-50%, 50%);
        }

        div {
          position: relative;
          z-index: 2;

          img {
            max-width: 470px;
            width: 100%;
            height: auto;
            z-index: 1;
          }
        }
      }

      &__content {
        h4 {
          font-size: 1.3rem;
          color: var(--accent-orange);
          margin-top: 1rem;
          line-height: 1.5;
          font-weight: bold;
          margin-bottom: 1rem;

          strong {
            font-weight: 300;
          }
        }

        p {
          color: var(--color-dark);
          margin-bottom: 1rem;
          line-height: 2;
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    section {
      .about-her {
        flex-direction: row;
        align-items: center;
        gap: 6rem;

        &__image {
          margin: none;

          &::before {
            content: url("/detail-blue.svg");
            position: absolute;
            height: fit-content;
            top: 4.75rem;
            right: 3rem;
            transform: translate(50%, -50%);
          }

          div {
            position: relative;
            margin-top: 5rem;
            z-index: 2;

            img {
              max-width: 500px;
              width: 100%;
              min-width: 500px;
              height: auto;
              z-index: 1;
            }
          }
        }
      }

      .about-continuation {
        flex-direction: row;
        align-items: center;
        gap: 6rem;

        &__image {
          margin: none;

          div {
            position: relative;
            z-index: 2;

            img {
              max-width: 480px;
              width: 100%;
              min-width: 480px;
              height: auto;
              z-index: 1;
            }
          }
        }

        &__content {
          h4 {
            font-size: 1.3rem;
            color: var(--accent-orange);
            margin-top: 5rem;
            font-weight: bold;
          }

          p {
            color: var(--color-dark);
            margin-bottom: 1rem;
            line-height: 2;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    section {
      .about-continuation {
        gap: 10rem;
      }
    }
  }
</style>
