---

---

<section>
  <div class="about-her">
    <div>
      <img
        loading="lazy"
        src="/samantha-dutra-about.png"
        alt="Samantha Dutra"
      />
    </div>
    <div>
      <h2>Sobre mim</h2>
      <h3>
        Sou a Dra. Samantha Dutra, Especialista em Psicologia e Neuropsicologia
      </h3>
      <p>
        Realizando atendimentos de Neuropsicologia para crianças, adolescentes,
        adultos e idosos, Samantha Dutra Santos atende de maneira particular.
        Dispõe de forte expertise em realização de triagens e avaliação de novos
        pacientes, direcionando-os ao tipo de tratamento psicológico mais
        adequado ao seu momento e perfil. Samantha Dutra Santos, CRP 05/052513,
        atua como psicóloga pela abordagem fenomenológico-existencial e
        Neuropsicóloga. A profissional tem como objetivo favorecer o
        autoconhecimento e o crescimento pessoal, com atendimentos
        psicoterápicos individuais. Atua com ênfase em intervenção terapêutica,
        psicopatologia, e na visão de Kierkegaard e Heidegger.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    max-width: 76.25rem; //1220px
    width: 100%;

    margin: 0 auto;
    padding: 1rem;
  }
</style>
