---

---

<button>
  <slot />
</button>

<style>
  button {
    background-color: var(--accent-orange);
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;

    display: flex;
    align-items: center;
  }
</style>
