---

---

<section id="contato">
  <div class="contact">
    <div class="contact-form">
      <h5>CONTATO</h5>
      <h2>Quer marcar uma consulta? Entre em contato comigo</h2>
      <form action="https://formspree.io/f/xyzggqyo" method="POST">
        <div>
          <input
            type="text"
            name="Nome"
            placeholder="Seu nome"
            minlength="3"
            required
          />
          <input type="email" name="Email" placeholder="Email" required />
        </div>
        <div>
          <input
            type="text"
            name="Assunto"
            placeholder="Assunto"
            minlength="3"
          />
          <input
            type="tel"
            name="Telefone"
            placeholder="Telefone"
            minlength="14"
            maxlength="15"
            id="telefone"
          />
        </div>
        <textarea
          name="Mensagem"
          placeholder="Sua mensagem..."
          rows="5"
          minlength="3"
          maxlength="255"
          required></textarea>
        <input class="submit" type="submit" value="Enviar mensagem" />
      </form>
    </div>
    <div class="contact-info">
      <h5>Telefones</h5>
      <div class="contact-info__whatsapp--wrapper">
        <div class="contact-info__whatsapp">
          <div class="contact-info__whatsapp__content">
            <img src="/icons/round-whatsapp.svg" alt="Whatsapp Logo" />
            <div class="contact-info__whatsapp__content--info">
              <span>Rio de Janeiro, RJ</span>
              <span>(21) 99913-1898</span>
            </div>
          </div>
        </div>
        <div class="contact-info__whatsapp">
          <div class="contact-info__whatsapp__content">
            <img src="/icons/round-whatsapp.svg" alt="Whatsapp Logo" />
            <div class="contact-info__whatsapp__content--info">
              <span>Rio de Janeiro, RJ</span>
              <span>(21) 99913-1898</span>
            </div>
          </div>
        </div>
      </div>
      <h5>Endereços</h5>
      <div class="contact-info__address">
        <img src="/icons/location.svg" alt="Endereço" />
        <div class="contact-info__address--info">
          <span>Consultório Particular</span>
          <span
            >Av. Nossa Sra. da Glória, 2987 - Sala 402 - Cavaleiros, Macaé</span
          >
        </div>
      </div>
      <div class="contact-info__address">
        <img src="/icons/location.svg" alt="Endereço" />
        <div class="contact-info__address--info">
          <span>Vitall Centro de Medicina Integrativa</span>
          <span
            >Av. das Américas 3434 - Sala 412 - Barra da Tijuca, RJ Centro
            Empresarial Mário Henrique Simonsen</span
          >
        </div>
      </div>
      <h5>Redes Sociais</h5>
      <div class="contact-info__social">
        <a
          href="https://www.facebook.com/samanthadutrapsi/?locale=pt_BR"
          target="_blank"
          ><img src="/icons/facebook-white.svg" alt="Perfil Facebook" /></a
        >
        <a href="https://www.instagram.com/psisamanthadutra/" target="_blank"
          ><img src="/icons/instagram-white.svg" alt="Perfil Instagram" /></a
        >
        <a href="https://br.linkedin.com/in/samanthadutrasantos" target="_blank"
          ><img src="/icons/linkedin-white.svg" alt="Perfil LinkedIn" /></a
        >
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    max-width: 76.25rem; //1220px
    width: 100%;

    margin: 0 auto;
    padding: 4.75rem 1rem 6rem;
  }

  .contact {
    display: flex;
    gap: 3.75rem;
    flex-direction: column;

    &-form {
      h5 {
        font-size: 1.3rem;
        letter-spacing: 0.1em;
        color: var(--accent-orange);
        line-height: 1.75;
      }

      h2 {
        font-size: 2.375rem;
        line-height: 1.3;
        font-family: var(--ff-roboto-slab);
        font-weight: 700;
        color: var(--color-blue);
        margin-bottom: 1.5rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        div {
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
        }

        input,
        textarea {
          width: 100%;
          border-radius: 0.625rem;
          padding: 1rem 1.25rem;
          border: none;
          background-color: #efefef;
          font-size: 1rem;
          color: var(--accent-blue);
          font-family: var(--ff-roboto);

          &::placeholder {
            color: #7e7b7b;
            font-family: var(--ff-roboto);
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 0px 2px var(--accent-blue);
          }
        }

        input[type="submit"] {
          font-size: 1rem;
          background-color: var(--accent-orange);
          color: white;
          cursor: pointer;
          border-radius: 999px;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      min-width: 275px;
      padding: 2.5rem;
      background-color: var(--accent-orange);
      border-radius: 1.25rem;
      color: white;

      h5 {
        font-size: 1.875rem;
        font-family: var(--ff-roboto-slab);
        font-weight: 500;
      }

      .contact-info__whatsapp--wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
      }

      &__whatsapp {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__content {
          display: flex;
          gap: 1rem;
          align-items: center;

          img {
            width: 52px;
          }

          &--info {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            span:first-child {
              font-size: 0.875rem;
              line-height: 1.2;
            }

            span:nth-child(2) {
              font-size: 1rem;
              font-weight: bold;
              line-height: 1.2;
            }
          }
        }
      }

      &__address {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        img {
          height: 20px;
        }

        &--info {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          span:first-child {
            font-size: 1rem;
            line-height: 1.2;
            font-weight: bold;
          }

          span:nth-child(2) {
            font-size: 0.875rem;
            line-height: 1.4;
          }
        }
      }

      &__social {
        display: flex;
        gap: 1em;

        a {
          img {
            width: 38px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    section {
      padding: 8rem 1rem;
    }

    .contact {
      gap: 2rem;
      flex-direction: row;
      justify-content: space-between;

      &-form {
        max-width: 618px;

        h2 {
          font-size: 2.625rem;
        }

        form {
          div {
            flex-direction: row;
            gap: 1rem;
          }

          input[type="submit"] {
            width: fit-content;
            margin-top: 1rem;
          }
        }
      }

      &-info {
        max-width: 500px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .contact {
      &-info {
        .contact-info__whatsapp--wrapper {
          flex-direction: row;
          justify-content: space-between;
          gap: 1.25rem;

          padding-bottom: 1.5rem;
        }
      }
    }
  }
</style>

<script>
  const inputTelefone = document.getElementById("telefone") as HTMLInputElement;

  inputTelefone.addEventListener("keydown", (e) => {
    const formattedPhone = formatCell((e.target as HTMLInputElement).value);
    inputTelefone.value = formattedPhone;
  });

  const formatCell = (value) => {
    let inputValue = value.replace(/\D/g, "");

    if (inputValue.length > 2) {
      inputValue = `(${inputValue.slice(0, 2)}) ${inputValue.slice(2)}`;
    }

    if (inputValue.length > 10) {
      inputValue = `${inputValue.slice(0, 10)}-${inputValue.slice(10)}`;
    }

    if (inputValue.length > 15) {
      inputValue = inputValue.slice(0, 15);
    }

    return inputValue;
  };
</script>
