---
import "swiper/css";
import Detail from "./Detail.astro";
---

<section class="depoimentos" id="depoimentos">
  <div class="swiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-content first">
          <img src="/aspas-swiper.svg" alt="Aspas" />
          <p>
            A Samantha é uma profissional incrível, que soube conduzir os testes
            da Avaliação Neuropsicológica de forma profissional, ética e humana.
            Além disso, na entrega do laudo soube orientar os próximos passos
            após o diagnóstico de TDAH. Ao longo do processo, ela me deixou
            sanar dúvidas e explicou como funcionava cada etapa . Uma
            profissional maravilhosa, que a todo tempo me fez sentir confortável
            pra passar por cada fase da Avaliação.
          </p>
          <div class="swiper__slide-cliente">
            <span>Mariana Gomes</span>
            <span>Cliente</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <img src="/aspas-swiper.svg" alt="Aspas" />
          <p>
            Profissional maravilhosa, atenciosa,e conseguiu me trazer uma paz
            que eu não estava conseguindo encontrar a tempos! Gratidão por ter
            te encontrado
          </p>
          <div class="swiper__slide-cliente">
            <span>Fabíola Santos</span>
            <span>Cliente</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <img src="/aspas-swiper.svg" alt="Aspas" />
          <p>
            A Samantha é uma psicóloga maravilhosa, muito atenciosa e
            profissional!
          </p>
          <div class="swiper__slide-cliente">
            <span>Isabela Mancebo</span>
            <span>Cliente</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content first">
          <img src="/aspas-swiper.svg" alt="Aspas" />
          <p>
            As consultas foram essenciais na minha vida, principalmente por ser
            com Samantha, ela me ajudou a reconhecer coisas e hábitos que eu nao
            fazia ideia que tinha, me ajudou à reconhecer e a construir quem eu
            sou e quem eu quero ser. Eu so tenho a agradecer a Samantha pelo
            carinho e ajuda, uma excelente psicóloga e uma otima pessoa.
          </p>
          <div class="swiper__slide-cliente">
            <span>Maria Luiza Leao</span>
            <span>Cliente</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content first">
          <img src="/aspas-swiper.svg" alt="Aspas" />
          <p>
            Atendimento perfeito, desde a primeira vez fez com que eu me
            sentisse super confortável, sempre se mostrando muito atenciosa, me
            consulto com a Samantha desde 2022 e desde lá tive muita evolução
            como paciente e pessoa, muito a agradecer a essa ótima
            profissional!!
          </p>
          <div class="swiper__slide-cliente">
            <span>Daniella</span>
            <span>Cliente</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content first">
          <img src="/aspas-swiper.svg" alt="Aspas" />
          <p>
            Tenho profundo carinho pela memória das minha sessões com Samantha.
            A sensibilidade para as questões que interpolavam minha vida e
            sessão foram vitais para um entendimento meu sobre aquele momento e,
            consequentemente, para tudo o que me cercava.
          </p>
          <div class="swiper__slide-cliente">
            <span>Yuri de Castro</span>
            <span>Cliente</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <Detail />
</section>

<style lang="scss">
  .depoimentos {
    margin: 0 auto;
    background: var(--background-gradient);
    padding: 5rem 0 3.5rem;
    position: relative;
    box-shadow: -5px -5px 20px #f4752152;
  }

  .swiper-container {
    padding: 1rem 2.5rem;
    width: 100%;
    max-width: 76.25rem;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    padding: 1rem;
    cursor: grab;

    .swiper-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;

      img {
        height: 40px;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.25;
        color: var(--accent-blue);
        text-align: center;
        max-width: 45ch;
        font-family: var(--ff-roboto-slab);
      }

      .swiper__slide-cliente {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-size: 1.3rem;
          line-height: 1.3;
          font-weight: 400;
          color: var(--accent-orange);
          letter-spacing: 0.1em;
        }

        span:last-child {
          font-size: 1.3rem;
          letter-spacing: 0;
          line-height: 1.5;
          font-weight: 400;
          color: var(--color-dark);
        }
      }

      &.first {
        p {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.25;
          color: var(--accent-blue);
          text-align: center;
          max-width: 45ch;
          font-family: var(--ff-roboto-slab);
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    .depoimentos {
      padding: 6.5rem 0 4.5rem;
    }

    .swiper-container {
      .swiper-slide {
        .swiper-content {
          gap: 4rem;

          p {
            font-size: 2.25rem;
          }

          &.first {
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  :root {
    --swiper-navigation-color: #fac3b9;
    --swiper-navigation-size: 40px;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  Swiper.use([Navigation, Pagination]);
  const swiper = new Swiper(".swiper", {
    loop: true,
    slidesPerView: 1,
    spaceBetween: 50,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
