---

---

<footer>
  <div class="footer-wrapper">
    <div></div>
  </div>
  <div class="rights"></div>
</footer>

<style lang="scss">
  footer {
    background-color: var(--accent-blue);
  }

  .footer-wrapper {
    max-width: 76.25rem; //1220px
    width: 100%;

    margin: 0 auto;
    padding: 4.375rem 1rem 2.5rem;
  }
</style>
