---
import Button from "./ButtonCTA.astro";
---

<header>
  <div id="header" class="header-wrapper">
    <img
      id="headerLogo"
      class="header-logo"
      src="/logo-mobile.svg"
      alt="Logo"
    />
    <nav class="header-nav" id="navMenu">
      <ul class="header-nav__ul">
        <li><a href="/#">Home</a></li>
        <li><a href="/#">Sobre</a></li>
        <li><a href="/#">Serviços</a></li>
        <li><a href="/#">Contato</a></li>
      </ul>
      <div class="nav-cta">
        <Button>
          <img
            class="nav-cta__img"
            src="/icons/edit.svg"
            alt="Agende sua consulta"
          />
          Agende sua Consulta
        </Button>
      </div>
      <div>
        <ul class="social-list">
          <li>
            <a href="">
              <img src="/icons/facebook.svg" alt="Página Facebook" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="/icons/instagram.svg" alt="Página Instagram" />
            </a>
          </li>
          <li>
            <a href="">
              <img src="/icons/linkedin.svg" alt="Página Linkedin" />
            </a>
          </li>
          <!-- PEGA OS LINKS DAS REDES SOCIAIS -->
        </ul>
      </div>
    </nav>
    <div class="header-cta">
      <Button>
        <img
          class="header-cta__img"
          src="/icons/edit.svg"
          alt="Agende sua consulta"
        />
        Agende sua Consulta
      </Button>
    </div>
    <button class="header-menu__button" id="btnMenuMobile">
      <img
        id="btnMenuMobileImg"
        class="header-menu__icon"
        src="/icons/menu.svg"
        alt="Samantha Dutra Logo"
      />
    </button>
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: center;
  }

  .header-wrapper {
    max-width: 75rem; //1200px
    width: 100%;

    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    .header-logo {
      height: 60px;
    }
  }

  .header-nav {
    display: none;

    .header-nav__ul {
      display: flex;
      gap: 2.34vw;

      li a {
        color: var(--color-dark);
        text-decoration: none;
      }

      .header-nav__item {
        a {
          font-weight: bold;
          color: var(--color-blue);
        }
      }
    }
  }

  .header-nav.mobile-active {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    z-index: 2;
    height: calc(100vh - 92px);

    background: url(/bottom-detail.svg) no-repeat bottom;
    background-size: 100% auto;

    .header-nav__ul {
      flex-direction: column;
      align-items: center;
      gap: 6vh;
    }
  }

  .header-cta,
  .nav-cta {
    display: none;
    .header-cta__img,
    .nav-cta__img {
      width: 20px;
      margin-right: 0.5rem;
    }
  }

  .header-menu__button {
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;

    .header-menu__icon {
      width: 35px;
    }
  }

  .nav-active {
    .header-menu__icon {
      width: 23px;
      margin: 0.375rem;
    }
  }

  .social-list {
    display: none;
  }

  .nav-active {
    .social-list {
      display: flex;
      gap: 0.675rem;

      img {
        width: 38px;
      }
    }

    .nav-cta {
      display: block;
    }
  }

  @media screen and (min-width: 800px) {
    .header-nav {
      display: block;
    }

    .header-cta {
      display: block;
    }
    .header-menu__button {
      display: none;
    }
  }
</style>

<script>
  const btnMenuMobile = document.getElementById("btnMenuMobile");
  const header = document.getElementById("header");
  const btnMenuMobileImg = document.getElementById(
    "btnMenuMobileImg"
  ) as HTMLImageElement;

  const navMenu = document.getElementById("navMenu");
  const navLi = navMenu.querySelectorAll("li");

  btnMenuMobile.addEventListener("click", toggleMenu);

  function toggleMenu() {
    navMenu.classList.toggle("mobile-active");
    console.log("teste");
    btnMenuMobileImg.src = navMenu.classList.contains("mobile-active")
      ? "/icons/menu-close.svg"
      : "/icons/menu.svg";
    navMenu.classList.contains;
    navMenu.classList.contains;

    btnMenuMobileImg.classList.toggle("menu-mobile__open");
    header.classList.toggle("nav-active");
  }

  function updateLogo() {
    const screenSize = window.innerWidth;
    const logo = document.getElementById("headerLogo") as HTMLImageElement;

    if (screenSize < 800) {
      logo.src = "/logo-mobile.svg";
      return;
    }
    // aaaaaaaaaaaaaaa tendi
    logo.src = "/logo-fullsize.svg";
  }

  function toggleEventListeners(screenSize) {
    if (screenSize < 800) {
      navLi.forEach((item) => item.addEventListener("click", toggleMenu));
    } else {
      navLi.forEach((item) => item.removeEventListener("click", toggleMenu));
    }
  }

  navLi.forEach((item) => {
    item.addEventListener("click", () => {
      navLi.forEach((item) => item.classList.remove("header-nav__item"));
      item.classList.add("header-nav__item");
    });
  });

  window.addEventListener("resize", function () {
    const screenSize = window.innerWidth;

    updateLogo();
    toggleEventListeners(screenSize);

    if (screenSize >= 800 && header.classList.contains("nav-active")) {
      toggleMenu();

      // auqi é pra fechar se o cara der resize com ele aberto
    }
  });

  updateLogo();
  const screenSize = window.innerWidth;
  toggleEventListeners(screenSize);
</script>
