---
import Button from "./ButtonCTA.astro";
---

<header>
  <div class="header-wrapper">
    <img
      id="headerLogo"
      class="header-logo"
      src="/logo-mobile.svg"
      alt="Logo"
    />
    <nav class="header-nav">
      <ul class="header-nav__ul" id="navMenu">
        <li>Home</li>
        <li>Sobre</li>
        <li>Serviços</li>
        <li>Contato</li>
      </ul>
    </nav>
    <div class="header-cta">
      <Button>
        <img
          class="header-cta__img"
          src="/icons/edit.svg"
          alt="Agende sua consulta"
        />
        Agende sua Consulta
      </Button>
    </div>
    <button class="header-menu__button" id="btnMenuMobile">
      <img
        id="btnMenuMobileImg"
        class="header-menu__icon"
        src="/icons/menu.svg"
        alt="Samantha Dutra Logo"
      />
    </button>
  </div>
</header>

<style lang="scss">
  header {
    padding: 1rem;

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-logo {
    height: 60px;
  }

  .header-nav {
    display: none;

    .header-nav__ul {
      display: flex;
      gap: 2.34vw;
    }
  }

  .header-cta {
    display: none;
    .header-cta__img {
      width: 20px;
      margin-right: 0.5rem;
    }
  }

  .header-menu__button {
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;

    .header-menu__icon {
      width: 35px;
    }

    .menu-mobile__open {
      width: 23px;
      margin: 0.375rem;
    }
  }

  @media screen and (min-width: 800px) {
    .header-nav {
      display: block;
    }

    .header-cta {
      display: block;
    }
    .header-menu__button {
      display: none;
    }
  }
</style>
<script>
  const btnMenuMobile = document.getElementById("btnMenuMobile");
  const btnMenuMobileImg = document.getElementById(
    "btnMenuMobileImg"
  ) as HTMLImageElement;

  const navMenu = document.getElementById("navMenu");
  const navLi = navMenu.querySelectorAll("li");

  navLi.forEach((item) => {
    item.addEventListener("click", toggleMenu);
  });

  btnMenuMobile.addEventListener("click", toggleMenu);

  function toggleMenu() {
    navMenu.classList.toggle("mobile-active");
    btnMenuMobileImg.src = navMenu.classList.contains("mobile-active")
      ? "/icons/menu-close.svg"
      : "/icons/menu.svg";

    btnMenuMobileImg.classList.toggle("menu-mobile__open");
  }

  function updateLogo() {
    const screenSize = window.innerWidth;
    const logo = document.getElementById("headerLogo") as HTMLImageElement;

    if (screenSize < 800) {
      logo.src = "/logo-mobile.svg";
    } else {
      logo.src = "/logo-fullsize.svg";
    }
  }

  window.addEventListener("load", function () {
    updateLogo();
  });

  window.addEventListener("resize", function () {
    updateLogo();
  });
</script>
