---
import Button from "./ButtonCTA.astro";
---

<section class="about">
  <div class="about-help">
    <div class="content-anchor">
      <div class="about-help__info">
        <div class="about-help__info-wrapper">
          <h2>Como posso ajudar?</h2>
          <p>
            Realizo atendimentos de Avaliação Neuropsicológica para crianças,
            adolescentes, adultos e idosos, e atuo como Psicoterapeuta pela
            perspectiva Fenomenológico-Existencial de maneira particular.
          </p>
          <ul class="about-help__info__list about-help__info__list-mobile">
            <li>Psicoterapia</li>
            <li>Autoconhecimento</li>
            <li>Ansiedade</li>
            <li>Depressão</li>
            <li>Transtornos</li>
            <li>Avaliação Clínica</li>
          </ul>
          <Button class="transparent">
            <img
              class="about-help__info--img"
              src="/icons/edit-orange.svg"
              alt="Agende sua consulta"
            />
            Agende sua consulta
          </Button>
        </div>
        <ul class="about-help__info__list about-help__info__list-fullsize">
          <li>Psicoterapia</li>
          <li>Autoconhecimento</li>
          <li>Ansiedade</li>
          <li>Depressão</li>
          <li>Transtornos</li>
          <li>Avaliação Clínica</li>
        </ul>
      </div>
    </div>
    <div class="about-help__call">
      <h2>Ligue Agora</h2>
      <p>
        Ligue e agende uma consulta. Consultórios localizados na Rio de Janeiro,
        RJ (Barra da Tijuca) e Macaé, RJ.
      </p>
      <div class="about-help__call__whatsapp">
        <div class="about-help__call__whatsapp__content">
          <img src="/icons/round-whatsapp.svg" alt="Whatsapp Logo" />
          <div class="about-help__call__whatsapp__content--info">
            <span>Rio de Janeiro, RJ</span>
            <span>(21) 99913-1898</span>
          </div>
        </div>
        <div class="about-help__call__whatsapp__content">
          <img src="/icons/round-whatsapp.svg" alt="Whatsapp Logo" />
          <div class="about-help__call__whatsapp__content--info">
            <span>Macaé, RJ</span>
            <span>(22) 99948-1160</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .about {
    max-width: 76.25rem; //1220px
    width: 100%;

    padding: 2.5rem 1rem;
    margin: 0 auto;

    background: var(--color-light);

    &-help {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .content-anchor {
        position: relative;
        flex-grow: 1;

        &::before {
          content: url(detail-orange.svg);
          position: absolute;
          bottom: 1rem;
          left: 0.75rem;
          transform: translate(-50%, 50%);
        }

        .about-help__info {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          height: 100%;

          box-shadow: 5px 5px 30px #f4752152;
          border-radius: 1.25rem;
          padding: 2.75rem 1.5rem 2.25rem 1.5rem;

          background: var(--background-gradient);
          position: relative;

          h2 {
            color: var(--accent-blue);
            font-family: var(--ff-roboto-slab);
            font-size: 1.75rem;
            font-weight: bold;
          }

          p {
            color: var(--color-dark);
            line-height: 1.9;
          }

          &__list {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            padding-bottom: 1rem;

            li {
              font-family: var(--ff-roboto-slab);
              color: var(--accent-blue);
              font-weight: bold;

              display: flex;
              align-items: center;

              &:before {
                content: url(/li-img.svg);
                margin-right: 0.75rem;
              }
            }

            &-fullsize {
              display: none;
            }
          }

          &--img {
            width: 20px;
            margin-right: 0.5rem;
          }

          &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
          }
        }
      }

      &__call {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: space-between;

        background-color: var(--accent-orange);
        border-radius: 1.25rem;
        padding: 2.75rem 1.5rem 2.25rem 1.5rem;

        h2 {
          font-family: var(--ff-roboto-slab);
          font-size: 1.75rem;
          font-weight: bold;
          color: var(--color-light);
        }

        p {
          line-height: 1.9;
          color: var(--color-light);
        }

        &__whatsapp {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &__content {
            display: flex;
            gap: 1rem;
            align-items: center;

            img {
              width: 52px;
            }

            &--info {
              display: flex;
              flex-direction: column;
              gap: 0.25rem;

              span:first-child {
                font-size: 0.875rem;
                color: var(--color-light);
                line-height: 1.2;
              }

              span:nth-child(2) {
                font-size: 1rem;
                color: var(--color-light);
                font-weight: bold;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    .about {
      padding: 4.5rem 1rem;

      &-help {
        flex-direction: row;
        gap: 1rem;

        .content-anchor {
          &::before {
            bottom: 1rem;
            transform: translate(-50%, 0);
            left: 1rem;
          }

          .about-help__info {
            flex-direction: row;
            padding: 1.75rem;
            flex-grow: 1;
            justify-content: space-between;

            p {
              max-width: 33ch;
            }

            &__list {
              padding-bottom: 0;
              &-mobile {
                display: none;
              }

              &-fullsize {
                display: flex;
                justify-content: space-around;
              }
            }

            &-wrapper {
              justify-content: space-between;
            }
          }
        }

        &__call {
          padding: 1.75rem;
          max-width: 300px;

          &__whatsapp {
            justify-content: space-between;

            &__content {
              img {
                width: 32px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .about-help__call {
      max-width: 400px;

      &__whatsapp {
        &__content {
          img {
            width: 52px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1160px) {
    .about {
      &-help {
        .content-anchor {
          .about-help__info {
            padding: 2.75rem;
          }
        }

        &__call {
          padding: 3.75rem 2.75rem;
          max-width: 499px;

          &__whatsapp {
            flex-direction: row;
          }
        }
      }
    }
  }
</style>
